zoopla_source_username=""
zoopla_source_password=""

zoopla_destination_username=""
zoopla_destination_password=""

onthemarket_source_username=""
onthemarket_source_password=""

onthemarket_destination_username=""
onthemarket_destination_password=""